**{
    border: 1px solid red;
} */

 


body{
    blackground-colo:#FFF4E3;
    font-family: inter; sans-serif;



}

label{
    display: flex;
    justify-content:space-between ;
    font-size: 12xp;
    text




}


input{

}

